@layout MainLayout

<PageTitle>Order</PageTitle>
<h3>Order</h3>

<article>
    <p>
        This ends the example of an e-shop built on HTMX and Blazor components, MinimalApi and .NET 9.
    </p>
</article>

@code {

}
