@layout MainLayout

<PageTitle>End of Demo</PageTitle>
<h3>End of demo</h3>

<article>
    <p>
        This ends the example of an e-shop built on HTMX and Blazor components, MinimalApi and .NET 9.
    </p>
</article>

@code {

}
