.hcard {
    text-align: center;
    display: inline-block;
    margin: 5px 5px 5px 5px;
    width: 10rem;
}

    .hcard a {
        clear: both;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 10rem;
    }

img {
    max-height: 100px;
    max-width: 100px;
}

[data-tooltip] {
    border-bottom: none;
}
